[Desktop Entry]
Encoding=UTF-8
Name=EpiPy
Version=0.0.1
Comment=EpiPy is a tool for fitting epidemic models
GenericName=EpiPy Science
Terminal=false
Icon=/usr/lib/python2.7/dist-packages/epipy/resources/images/epipy-logo.png
Type=Application
Exec=epipy
Categories=Science;Education;
